NEXT_PUBLIC_LEMMA_API_URL=https://api.lemma.work
NEXT_PUBLIC_LEMMA_AUTH_URL=https://lemma.work/auth
NEXT_PUBLIC_LEMMA_POD_ID=
NEXT_PUBLIC_LEMMA_ORG_ID=
VITE_LEMMA_API_URL=https://api.lemma.work
VITE_LEMMA_AUTH_URL=https://lemma.work/auth
VITE_LEMMA_POD_ID= # Same as NEXT_PUBLIC_LEMMA_POD_ID
VITE_LEMMA_ORG_ID= # Same as NEXT_PUBLIC_LEMMA_ORG_ID
